# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [3]:
# importing library and read df
import pandas as pd

In [5]:
ins_df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
ins_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [7]:
ins_df.columns = ins_df.columns.str.lower().str.replace(' ', '_')

In [9]:
ins_df.rename(columns={ 'st' : 'state' }, inplace=True)

In [11]:
ins_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

Hint:

- Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".

- State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"

- In education, "Bachelors" could be replaced by "Bachelor"

- In Customer Lifetime Value, delete the % character

- In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

In [13]:
ins_df['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [15]:
# Your code here
ins_df['gender']=ins_df['gender'].map({
    'Femal': 'F' , 
    'Male': 'M' , 
    'female' : 'F',
    'M':'M',
    'F' : 'F'
})

In [17]:
ins_df['state'].unique()   #ST is cities to be in one format, full name or shortcut.
ins_df['state'] = ins_df['state'].replace({
    'Cali': 'California',
    'AZ': 'Arizona',
    'WA': 'Washington'
})

In [19]:
ins_df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [21]:
ins_df['education'] = ins_df['education'].replace('Bachelors', 'Bachelor')

In [23]:
ins_df['customer_lifetime_value']=ins_df['customer_lifetime_value'].str.replace('%','')

In [25]:
ins_df['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [27]:

replacements={"Sports Car" : "Luxury",
"Luxury SUV" : "Luxury",
"Luxury Car" : "Luxury"}
ins_df["vehicle_class"] = ins_df["vehicle_class"].replace(replacements)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [33]:
# Output: dtype('O') → "object" (usually string)
ins_df['customer_lifetime_value'].dtype

#ins_df.dtypes
# Output: whole dataframes data types is listed

dtype('O')

In [35]:
ins_df['customer_lifetime_value']=ins_df['customer_lifetime_value'].astype(float)

In [37]:
ins_df.number_of_open_complaints.unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [39]:
ins_df['number_of_open_complaints'].str.split('/').str[1].dropna().astype(int)

0       0
1       0
2       0
3       0
4       0
       ..
1066    1
1067    2
1068    0
1069    0
1070    0
Name: number_of_open_complaints, Length: 1071, dtype: int64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [43]:
# identify null values
ins_df.isnull()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,False,False,True,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True

In [45]:
# Check for null values in each column
ins_df.isna().any()

customer                     True
state                        True
gender                       True
education                    True
customer_lifetime_value      True
income                       True
monthly_premium_auto         True
number_of_open_complaints    True
policy_type                  True
vehicle_class                True
total_claim_amount           True
dtype: bool

Drop the rows or columns with null values
Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
Fill the null values with the previous or next value in the column
Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

In [48]:
# missing_pt_rows=ins_df[ins_df['policy_type'].isnull()]
# missing_pt_rows.isnull().sum(axis=1).value_counts()
ins_df['monthly_premium_auto'].isnull().value_counts()

monthly_premium_auto
True     2937
False    1071
Name: count, dtype: int64

In [50]:
ins_df['income'].isna().any()

True

In [52]:
ins_df = ins_df.dropna(subset=['vehicle_class'])

In [54]:
missing_vc_rows=ins_df[ins_df['vehicle_class'].isnull()]
missing_vc_rows.isnull().sum(axis=1).value_counts()
ins_df['policy_type'].isnull().value_counts()
#so when I check true values are equal in each columns so i decided to drop all the rows has nan

policy_type
False    1071
Name: count, dtype: int64

In [56]:
# ins_df['total_claim_amount'].isna().value_counts()
# ins_df['total_claim_amount'].describe()

# median_value= ins_df['total_claim_amount'].median()
ins_df['total_claim_amount']= ins_df['total_claim_amount'].fillna(median_value)

NameError: name 'median_value' is not defined

In [58]:
#find the missing value and look if other columns are missing also
missing_state_rows = ins_df[ins_df['state'].isnull()]
missing_state_rows.isnull().sum(axis=1)
#it look like yes at the end of the dataframe. 
# ins_df['state'] = ins_df['state'].dropna()

Series([], dtype: int64)

In [60]:
#explorehow many nan values
ins_df['state'].isnull().value_counts()
#it is too much we need to fillit with unknow
ins_df['state'] = ins_df['state'].fillna('unknown')

In [62]:
#it is categorical value it iss
mode_v=ins_df['education'].mode()[0]
ins_df['education'] = ins_df.education.fillna(mode_v)

In [64]:
#categorical variable as a gender so fill with mode
mode_value=ins_df['gender'].mode()[0]
ins_df['gender'] = ins_df['gender'].fillna(mode_value)

In [66]:
#explore how many nan values
ins_df['customer'].isnull().value_counts()
#it is too much we need to fillit with unknow
ins_df['customer'] = ins_df['customer'].fillna('unknown')

Sort the numbers from smallest to biggest.
Find the middle number.
If there’s an odd number of numbers → the median is the exact middle one.
If there’s an even number → the median is the average of the two middle numbers.

In [69]:
ins_df['customer_lifetime_value'].describe()
#min and max has too much difference so there is skewed data we need to use median

median_v = ins_df['customer_lifetime_value'].median()
ins_df['customer_lifetime_value']= ins_df['customer_lifetime_value'].fillna(median_v)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [73]:
ins_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [81]:
ins_df.drop_duplicates(subset=['customer'])

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,588174.235,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.590,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.170,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.180,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.650,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.030,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.760,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.470,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.110,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.020,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [208]:
#i need to keep them
ins_df['monthly_premium_auto'].duplicated().value_counts()

monthly_premium_auto
True     939
False    132
Name: count, dtype: int64

In [212]:
ins_df['monthly_premium_auto'].head()

0    1000.0
1      94.0
2     108.0
3     106.0
4      68.0
Name: monthly_premium_auto, dtype: float64

In [214]:
# i need to keep them
ins_df['total_claim_amount'].duplicated()

0       2.704934
1    1131.464935
2     566.472247
3     529.881344
4      17.269323
Name: total_claim_amount, dtype: float64

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [48]:
%load_ext autoreload
%autoreload 2

from cleaning_functions import main_cleaning

# Load your data
ins_df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
# Clean your data
ins_df = main_cleaning(ins_df)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [234]:
#  goal is to identify customers with a high policy claim amount and a low customer lifetime value
#total claim amount and customer lifetime value
ins_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [238]:
ins_df['customer_lifetime_value'].describe()
#Low customer lifetime value; bottom 25% of the customer lifetime value

count    1.071000e+03
mean     7.931146e+05
std      6.426676e+05
min      2.004351e+05
25%      4.048535e+05
50%      5.881742e+05
75%      8.945210e+05
max      5.816655e+06
Name: customer_lifetime_value, dtype: float64

In [244]:
ins_df['total_claim_amount'].describe()
#high total claim amount; the top 25% of the total claim amount

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: total_claim_amount, dtype: float64

In [246]:
# Find 75th percentile of Total Claim Amount
claim_amount_75 = ins_df['total_claim_amount'].quantile(0.75)

In [250]:
#25th percentile of CLV
clv_25= ins_df['customer_lifetime_value'].quantile(0.25)

In [258]:
#find this condition
target_customers = ins_df[
    (ins_df['total_claim_amount'] > claim_amount_75) &
    (ins_df['customer_lifetime_value'] < clv_25)
]
print(target_customers.shape)
target_customers.head()

(40, 11)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
17,OE15005,California,F,College,394524.16,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,F,Bachelor,245019.10,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,F,Bachelor,394637.21,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
38,CM61827,Oregon,F,Bachelor,309003.41,0.0,90.0,1/0/00,Personal Auto,Two-Door Car,648.000000
42,IL19217,California,F,Bachelor,393900.64,60021.0,99.0,1/0/00,Personal Auto,Four-Door Car,882.871945

In [ ]:
# Step 1: Calculate thresholds
claim_amount_75 = ins_df['total_claim_amount'].quantile(0.75)
clv_25 = ins_df['customer_lifetime_value'].quantile(0.25)

# Step 2: Filter
target_customers = ins_df[
    (ins_df['total_claim_amount'] > claim_amount_75) &
    (ins_df['customer_lifetime_value'] < clv_25)
]

# Step 3: View
print(target_customers.shape)
target_customers.head()

# (Optional) Step 4: Save
target_customers.to_csv('target_customers.csv', index=False)